.phone-navbar {
  padding: 13px 31px 15px 36px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.phone-navbar img {
  margin-left: 8px;
}

.phone-navbar-time {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "HelveticaNeueLight";
}
